jaxws/jaxws-endpoint/src/main/webapp/WEB-INF/wsdl/EBookStoreImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-b03-. -->
<definitions targetNamespace="http://endpoint.jaxws.javaee7.org/" name="EBookStoreImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://endpoint.jaxws.javaee7.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://endpoint.jaxws.javaee7.org/" schemaLocation="EBookStoreImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="welcomeMessage">
    <part name="parameters" element="tns:welcomeMessage"/>
  </message>
  <message name="welcomeMessageResponse">
    <part name="parameters" element="tns:welcomeMessageResponse"/>
  </message>
  <message name="takeBook">
    <part name="parameters" element="tns:takeBook"/>
  </message>
  <message name="takeBookResponse">
    <part name="parameters" element="tns:takeBookResponse"/>
  </message>
  <message name="findEBooks">
    <part name="parameters" element="tns:findEBooks"/>
  </message>
  <message name="findEBooksResponse">
    <part name="parameters" element="tns:findEBooksResponse"/>
  </message>
  <message name="saveBook">
    <part name="parameters" element="tns:saveBook"/>
  </message>
  <message name="saveBookResponse">
    <part name="parameters" element="tns:saveBookResponse"/>
  </message>
  <message name="addAppendix">
    <part name="parameters" element="tns:addAppendix"/>
  </message>
  <message name="addAppendixResponse">
    <part name="parameters" element="tns:addAppendixResponse"/>
  </message>
  <portType name="EBookStore">
    <operation name="welcomeMessage">
      <input message="tns:welcomeMessage"/>
      <output message="tns:welcomeMessageResponse"/>
    </operation>
    <operation name="takeBook">
      <input message="tns:takeBook"/>
      <output message="tns:takeBookResponse"/>
    </operation>
    <operation name="findEBooks">
      <input message="tns:findEBooks"/>
      <output message="tns:findEBooksResponse"/>
    </operation>
    <operation name="saveBook">
      <input message="tns:saveBook"/>
      <output message="tns:saveBookResponse"/>
    </operation>
    <operation name="addAppendix">
      <input message="tns:addAppendix"/>
      <output message="tns:addAppendixResponse"/>
    </operation>
  </portType>
  <binding name="EBookStoreImplPortBinding" type="tns:EBookStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="welcomeMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="takeBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findEBooks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addAppendix">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EBookStoreImplService">
    <port name="EBookStoreImplPort" binding="tns:EBookStoreImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

