jaxws/jaxws-client/src/main/webapp/WEB-INF/wsdl/EBookStoreImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://endpoint.jaxws.javaee7.org/" name="EBookStoreImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://endpoint.jaxws.javaee7.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://endpoint.jaxws.javaee7.org/" schemaLocation="EBookStoreImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findEBooks">
    <part name="parameters" element="tns:findEBooks"/>
  </message>
  <message name="findEBooksResponse">
    <part name="parameters" element="tns:findEBooksResponse"/>
  </message>
  <message name="takeBook">
    <part name="parameters" element="tns:takeBook"/>
  </message>
  <message name="takeBookResponse">
    <part name="parameters" element="tns:takeBookResponse"/>
  </message>
  <message name="addAppendix">
    <part name="parameters" element="tns:addAppendix"/>
  </message>
  <message name="addAppendixResponse">
    <part name="parameters" element="tns:addAppendixResponse"/>
  </message>
  <message name="welcomeMessage">
    <part name="parameters" element="tns:welcomeMessage"/>
  </message>
  <message name="welcomeMessageResponse">
    <part name="parameters" element="tns:welcomeMessageResponse"/>
  </message>
  <message name="saveBook">
    <part name="parameters" element="tns:saveBook"/>
  </message>
  <message name="saveBookResponse">
    <part name="parameters" element="tns:saveBookResponse"/>
  </message>
  <portType name="EBookStore">
    <operation name="findEBooks">
      <input wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/findEBooksRequest" message="tns:findEBooks"/>
      <output wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/findEBooksResponse" message="tns:findEBooksResponse"/>
    </operation>
    <operation name="takeBook">
      <input wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/takeBookRequest" message="tns:takeBook"/>
      <output wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/takeBookResponse" message="tns:takeBookResponse"/>
    </operation>
    <operation name="addAppendix">
      <input wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/addAppendixRequest" message="tns:addAppendix"/>
      <output wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/addAppendixResponse" message="tns:addAppendixResponse"/>
    </operation>
    <operation name="welcomeMessage">
      <input wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/welcomeMessageRequest" message="tns:welcomeMessage"/>
      <output wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/welcomeMessageResponse" message="tns:welcomeMessageResponse"/>
    </operation>
    <operation name="saveBook">
      <input wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/saveBookRequest" message="tns:saveBook"/>
      <output wsam:Action="http://endpoint.jaxws.javaee7.org/EBookStore/saveBookResponse" message="tns:saveBookResponse"/>
    </operation>
  </portType>
  <binding name="EBookStoreImplPortBinding" type="tns:EBookStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="findEBooks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="takeBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addAppendix">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="welcomeMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EBookStoreImplService">
    <port name="EBookStoreImplPort" binding="tns:EBookStoreImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

